.navbar {
  display: flex;
  padding: 0px 110px;
  margin: 26px;
  opacity: 0.8;



}

html {
  scroll-behavior: smooth;
}

.navlist {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: right;
}

.navlist li {
  list-style: none;
  padding: 5px 15px;

  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.navlist li a {
  text-decoration: none;


  display: flex;
  align-items: center;
  letter-spacing: 2px;

}


input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
  border-radius: 20px;
}

button.search {
  float: left;
  width: 180%;
  padding: 10px;
  background-color: #2196F3;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: #2196F3;
  background-image: none;
 
}

.lk a {
  background-color: red;
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  margin-top: 2px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 12px;
  padding-left: 12px;
  height: 35px;
}

.lk a:hover {
  transform: scale(1.1);

}

form.example button:hover {
  background: #0b7dda;
}


.navbars {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbars a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.logo {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
  height: 20px;
  margin: 12px 5px;
}

@media only screen and (max-width: 1050px) {
  button.search {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  button.search {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

@media only screen and (max-width: 1100px) {

  .navbar {
    flex-direction: column;
    transition: all 0.9s ease-out;
    height: 270px;
  }

  .navlist {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: auto;
  }

  button.search {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .oo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .we img {
    padding-bottom: 15px;
  }

  input[type="text"] {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .photo1 img {
    height: 350px;
    width: 100%;
    background-size: cover;
  }

  .main1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1060px;
    margin: auto;
    flex-direction: column;
  }

  .box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px 21px;
    padding-left: 10px;
    height: 500px;
  }

  .col {
    padding-left: 20px;
  }
  .container1 img:hover {

    cursor: pointer;
    transform: scale(1.1);
    
  }
  .col1 {
    padding-right: 20px;
  }

  .container1 img {
    height: 175px;
    max-width: 100%;
  }

  .font {
    width: 100%;
    padding-top: 50px;
    padding-right: 12px;

  }

  .font button {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;

  }

  .box2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px 21px;
    height: 500px;
  }

  .text {
    width: 90%;
  }
  
.gamingbutton{
  width: 70%;
}

  .container2 img {
    height: 200px;
    max-width: 90%;
  }

  .container3 {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    background-color: #c3f7ff;
    height: 430px;
    padding-top: 30px;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    height: 708px;
    
  }
  .container3 img {
    width: 250px;
    height: 180px;
  }

  .photo2 img {
    height: 200px;
    width: 100%;
    background-size: cover;
  }
  #about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .deals{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
  }
  .main2 .icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .iconbar {
    width: 22%;
    display: table;
    justify-content: center;
  }
  
}



@media only screen and (max-width: 1099px) {

.bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.footer{
  width: 100%;
}
.navfooter {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navfooterlist {
  display: table-cell;
  padding: 8px 50px;

  width: 250%;
  padding-left: 12px;
}
}